.cont2 {
    /*background-color: red;*/

}

.scroll-box {
    height: 150px;
    overflow: hidden;
    position: relative;
    margin-top: -8px;
    border-radius: 12px;
}


.wrap p {
    align-self: center;
    margin-top: -1px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bolder;
    font-size: 10px;
}

.exp-header p {
    margin-left: 26px;
}

.experience-wrapper {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 270px;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    animation: scrollUp 9s linear infinite;
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

/* Pause on hover */
.scroll-box:hover .experience-wrapper {
    animation-play-state: paused;
}

.scroll-box:hover .experience-wrapper {
    animation-play-state: paused;
}
