.card {
    width: 300px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    border-top: 6px solid #3e9aff;
    position: relative;
}

.profile {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -26px;
}

.avatar {
    border-radius:  16px;
    object-fit: cover;
}

.role {
    color: #3e9aff;
    margin-top: -4px;
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 13px;
    margin: 12px 0;
    color: #666;
}

.email-btn {
    background: #3e9aff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    font-size: 13px;
}

.email-btn:hover {
    background-color: #4a4bd8;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
    color: #333;
}

.icons i {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icons i:hover {
    transform: scale(1.2);
    color: #5d5fe9;
}
